.projects {
  &__content {
    margin: 0 5%;
  }
  &__footer {
      margin: 20px 0;
      padding-left: 40px;
      &_message {
          padding-top: 10px;
          border-top: 1px solid #ccc;
          padding-bottom: 10px;
      }
      .button {
          width: 300px;
      }
  }
}
