.welcome {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
    &__title {
        text-align: center;
        margin: 15px 0;
    }
    &__languages {
        padding: 0 15px;
        list-style: none;
        columns: 2;
        li {
            line-height: 30px;
        }
    }
}
