.filters {
  padding: 1em 2em 0.5em;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 1px 3px #eee;
  &__filter {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0.5em;
  }
  &__slider {
      .rc-slider {
          display: inline-block;
          width: 300px;
          margin: 0 10px;
      }
  }
}
