.project {
  padding-left: 40px;
  position: relative;
  &:before {
    background: url(./project.svg);
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    width: 32px;
    height: 32px;
  }
  &__title {
    margin: 1em 0 0.5em;
    word-break: break-word;
    & > a {
      color: #333;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: #232323;
      }
    }
  }
  &__lang {
    font-size: 14px;
    color: #999;
  }
  &__info {
    margin: 0 0 0.5em;
  }
}
