.header {
  display: flex;
  align-items: center;
  height: 50px;
  line-height: 50px;
  letter-spacing: 0.1em;
  justify-content: space-between;
  padding: 0 15px;
  &__brand {
    font-size: 20px;
  }
  &__link {
      text-decoration: none;
      color: #fff;
      &:focus {
        outline: none;
      }
  }
}
